/*
 Theme Name:   Sydney Child
 Theme URI:    http://example.com/sydney-child/
 Description:  Thème enfant pour le projet X, basé sur Sydney.
 Author:       Jules AI
 Author URI:   http://example.com
 Template:     sydney
 Version:      1.0.0
 */
